<div class="container text-center mt-5 mb-5 bg-light">
  <h1>Counterappyeah</h1>
  <br>
  <h2>{{countNumber}}</h2>

  <div class="row mt-5">
    <div class="col-lg-4"><button class="btn col-lg-12 col-12 btn-dark mt-3" (click)="resetbtn()">Reset</button></div>
    <div class="col-lg-4"><button class="btn col-lg-12 col-12 btn-success mt-3" (click)="increasebtn()"> Increase Count</button></div>
    <div class="col-lg-4"><button class="btn col-lg-12 col-12 btn-danger mt-3" (click)="decreasebtn()"> Decrease Count</button></div>
  </div>
</div>